<%= form_for :reservation do |f| %>
  

  <div class="field">
    <%= f.label :start_date %>
    <%= f.date_field :start_date %>
  </div>

  <div class="field">
    <%= f.label :end_date %>
    <%= f.date_field :end_date%>
  </div>

  <div class="field">
    <%= f.label :price %>
    <%= f.number_field :price, :value => @listing.price %>
  </div>
 
  
  <div class="field">
    <%= f.label :total %>
    <%= f.number_field :total%>
  </div>

    <div class="field">
    
    <%= f.hidden_field :user_id, :value => current_user.id %>
  </div>

  <div class="field">
  
    <%= f.hidden_field :listing_id, :value => @listing.id %>
  </div>

  <div class="actions">
    <%= f.submit "Book" %>
  </div>
<% end %>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/core.js"></script>
<script>

$(document).ready(function(){

  // $(the name inside is the id name)
  let startDate = $("#reservation_start_date")
  let endDate = $("#reservation_end_date")
  let price = <%= @listing.price %> 

  const getDateRange = function(){
    if (startDate.value != "" && endDate !=""){
      checkout = new Date(endDate.val()) 
      checkin = new Date(startDate.val())
      console.log(checkout)
      console.log(checkin)
      var days = (checkout - checkin) /1000 / 60/ 60/ 24 
        console.log(days)
        console.log()
      $('#reservation_total').val(days * price) 
    }
  }

  startDate.change(getDateRange)

  endDate.change(getDateRange)
});

</script>

 